Repository ks6088ts/terraform-provider-soracom, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, github, examples

.github/labeler.yml:

docs:
  - docs/**/*
github:
  - .github/**/*
examples:
  - examples/**/*

activate diff checks for documents
  docs/index.md
  docs/resources/credentials.md
  docs/resources/eventhandler_handlers.md
  docs/resources/group.md
  docs/resources/group_configuration_air.md
  docs/resources/group_configuration_funk.md
  docs/resources/group_configuration_funnel.md
  docs/resources/role.md
  docs/resources/role_attachment.md
  docs/resources/sim_configuration_group.md
  docs/resources/sim_tags.md
  docs/resources/user.md
  terraform.mk
Labels: docs

install providers locally for development
  .gitignore
  Makefile
  terraform.mk
Labels: none

update readme
  README.md
Labels: none

explicitly handles authentication method other than authKey
  internal/conns/conns.go
  internal/conns/conns_test.go
Labels: none

fixes flags for release
  .goreleaser.yml
Labels: none

add Azure resources
  examples/group_configuration_funk_azure_functions_js/app/__init__.py
  examples/group_configuration_funk_azure_functions_js/azure.tf
  examples/group_configuration_funk_azure_functions_js/outputs.tf
  examples/group_configuration_funk_azure_functions_js/variables.tf
Labels: examples

create soracom resources
  examples/group_configuration_funk_azure_functions_js/azure.tf
  examples/group_configuration_funk_azure_functions_js/outputs.tf
  examples/group_configuration_funk_azure_functions_js/soracom.tf
  examples/group_configuration_funk_azure_functions_js/variables.tf
Labels: examples

fixme: skip test for soracom/azure example for now
  terraform.mk
Labels: none

fix directory name
  examples/group_configuration_funk_azure_functions_python/app/__init__.py
  examples/group_configuration_funk_azure_functions_python/azure.tf
  examples/group_configuration_funk_azure_functions_python/outputs.tf
  examples/group_configuration_funk_azure_functions_python/soracom.tf
  examples/group_configuration_funk_azure_functions_python/variables.tf
  terraform.mk
Labels: examples

add binary_parser_enabled and binary_parser_format to soracom_group_configuration_air
  docs/resources/group_configuration_air.md
  examples/group_configuration_air/main.tf
  go.mod
  go.sum
  internal/service/group/group_configuration_air.go
Labels: docs, examples

format tf codes via `make -f terraform.mk format`
  examples/group_configuration_air/main.tf
Labels: examples

run `make -f terraform.mk docs-generate`
  docs/resources/group_configuration_air.md
Labels: docs
